h3 {
  color: #999;
  font-size: 2em;
}

.button {
  background-color: #008BCA; /* Blue */
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline block;
  margin: 0.25em 0.125em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
  border: 0.1em solid #008BCA;
}
